.menu-container {
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1.2rem;
}
